In [1]:
import os
os.makedirs(os.path.join('..','data'),exist_ok=True)
data_file=os.path.join('..','data','tiny_house.csv')#csv  用逗号分开
with open(data_file,'w') as f:
    f.write('NumRooms,Alley,Price\n')# 列名
    f.write('NA,Pave,127500\n')# 每一行表示一个数据样本
    f.write('2,NA,106000\n')# 
    f.write('4,NA,178100\n')
    f.write('NA,NA,140000\n')

In [4]:
import pandas as pd
data=pd.read_csv(data_file)
print(data)
data

   NumRooms Alley   Price
0       NaN  Pave  127500
1       2.0   NaN  106000
2       4.0   NaN  178100
3       NaN   NaN  140000

   NumRooms Alley   Price
0       NaN  Pave  127500
1       2.0   NaN  106000
2       4.0   NaN  178100
3       NaN   NaN  140000

In [33]:
inputs, outputs=data.iloc[1:4,0:2],data.iloc[:,2]
inputs
outputs
print('outputs',outputs)
inputs=inputs.fillna(inputs.mean())# fill nan
inputs

outputs 0    127500
1    106000
2    178100
3    140000
Name: Price, dtype: int64

/tmp/ipykernel_1391707/4270158073.py:5: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  inputs=inputs.fillna(inputs.mean())# fill nan

   NumRooms  Alley
1       2.0    NaN
2       4.0    NaN
3       3.0    NaN

In [28]:
#字符串

# dummies：哑变量、虚拟变量
# dummy：哑变量、虚拟变量  哑变量（或称为虚拟变量）是用来表示分类数据的二进制（0或1）变量。
inputs=data.iloc[:,0:2]
print(inputs)
# # iloc: integer-location based indexing for selection by position (基于整数位置的索引)
# 从 data 数据框中选择所有行 (":") 和前两列 ("0:2")，并将结果赋值给变量 input (输入)

inputs=pd.get_dummies(inputs,dummy_na=True)#如果是na，那就是1 否则是0
# dummy_na: dummy (虚拟变量), na: Not Available (空值)
# 将 inputs 数据框中的类别变量转换为哑变量，并为 NaN 值创建单独的哑变量列

inputs

   NumRooms Alley
0       NaN  Pave
1       2.0   NaN
2       4.0   NaN
3       NaN   NaN

   NumRooms  Alley_Pave  Alley_nan
0       NaN        True      False
1       2.0       False       True
2       4.0       False       True
3       NaN       False       True

In [37]:
# 把csv转为张量
#最好是32位浮点数  64位计算慢
print('inputs',inputs)
print('outputs',outputs)
# outputs
import torch
X,y=torch.tensor(inputs.values),torch.tensor(outputs.values)
X,y

inputs    NumRooms  Alley
1       2.0    NaN
2       4.0    NaN
3       3.0    NaN
outputs 0    127500
1    106000
2    178100
3    140000
Name: Price, dtype: int64

(tensor([[2., nan],
         [4., nan],
         [3., nan]], dtype=torch.float64),
 tensor([127500, 106000, 178100, 140000]))

In [46]:
# 扩展填充函数fillna的用法
from numpy import nan as NaN
df1=pd.DataFrame([[1,2,3],[NaN,NaN,2],[NaN,NaN,NaN],[8,8,NaN]])
print(df1)
print(df1.fillna(10086))#  # 用常数填充 ，默认不会修改原对象
# df1.fillna(10086,inplace=True)#修改原对象
print(df1.fillna({2:7758,NaN:20040715}))# # 通过字典填充不同的常数，默认不会修改原对象
print(df1.fillna(method='ffill'))

     0    1    2
0  1.0  2.0  3.0
1  NaN  NaN  2.0
2  NaN  NaN  NaN
3  8.0  8.0  NaN
         0        1        2
0      1.0      2.0      3.0
1  10086.0  10086.0      2.0
2  10086.0  10086.0  10086.0
3      8.0      8.0  10086.0
     0    1       2
0  1.0  2.0     3.0
1  NaN  NaN     2.0
2  NaN  NaN  7758.0
3  8.0  8.0  7758.0
     0    1    2
0  1.0  2.0  3.0
1  1.0  2.0  2.0
2  1.0  2.0  2.0
3  8.0  8.0  2.0

/tmp/ipykernel_1391707/3578139617.py:7: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(df1.fillna(method='ffill'))

In [52]:
# 扩展填充函数fillna的用法

df2=pd.DataFrame([[1,2,3],[NaN,NaN,2],[NaN,NaN,NaN],[8,8,NaN],[8,8,NaN]])
df2.iloc[1:3,2]=NaN
df2.iloc[2:3,2]=NaN
df2
print(df2.fillna(method='bfill',limit=2))# bfill (backward fill) 是从后往前填充缺失值，limit=2 表示每列最多填充 2 个缺失值。
print(df2.fillna(method='ffill',limit=1,axis=1))#  ffill (forward fill) 是从前往后填充缺失值，limit=1 表示每行最多填充 1 个缺失值。axis=1 表示按行填充

     0    1    2
0  1.0  2.0  3.0
1  8.0  8.0  NaN
2  8.0  8.0  NaN
3  8.0  8.0  NaN
4  8.0  8.0  NaN
     0    1    2
0  1.0  2.0  3.0
1  NaN  NaN  NaN
2  NaN  NaN  NaN
3  8.0  8.0  8.0
4  8.0  8.0  8.0

/tmp/ipykernel_1391707/1298214365.py:7: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(df2.fillna(method='bfill',limit=2))# bfill (backward fill) 是从后往前填充缺失值，limit=2 表示每列最多填充 2 个缺失值。
/tmp/ipykernel_1391707/1298214365.py:8: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(df2.fillna(method='ffill',limit=1,axis=1))#  ffill (forward fill) 是从前往后填充缺失值，limit=1 表示每行最多填充 1 个缺失值。axis=1 表示按行填充